<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Extracción de Entidades y Resumen Automático</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body>
    <div class="title">
        <h1 class="title is-1">Extracción de Entidades y Resumen Automático</h1>
    </div>
    <div class="container">
        <form action="{{ url_for('bp_main.extraer_entidades') }}" method="post">
            <div class="field">
                <label class="label">Inserte el texto o noticia:</label>
                <div class="control">
                    <textarea class="textarea" name="texto" placeholder="Ingrese el texto aquí"></textarea>
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <button class="button is-link" type="submit">Extraer Entidades</button>
                </div>
            </div>
        </form>

        <br>

        <!-- Nuevo formulario para generar resumen -->
        <form action="{{ url_for('bp_main.resumir') }}" method="post">
            <div class="field">
                <label class="label">Número de oraciones en el resumen:</label>
                <div class="control">
                    <input type="number" class="input" name="num_sentences" placeholder="Número de oraciones" min="1"
                        value="2">
                </div>
            </div>
            <div class="field">
                <label class="label">Texto para el resumen:</label>
                <div class="control">
                    <textarea class="textarea" name="texto" placeholder="Ingrese el texto aquí"></textarea>
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Generar Resumen</button>
                </div>
            </div>
        </form>

        <br>

        {% if entidades %}
        <div class="content">
            <h3 class="title is-2">Entidades encontradas:</h3>
            <ul>
                {% for entidad in entidades %}
                <li><strong>{{ entidad.texto }}</strong> - Tipo: {{ entidad.tipo }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if resumen %}
        <div class="content">
            <h3 class="title is-2">Resumen Generado:</h3>
            <p class="subtitle is-3">{{ resumen }}</p>
        </div>
        {% endif %}
    </div>
</body>

</html>